In [22]:
#import dependency like splinter and beautifulsoup
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd

In [6]:
# Set the executable path and initialize the chrome browser in splinter
executable_path = {'executable_path' : '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [7]:
#visit the mars nasa news site
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

#add a delay for loading the page
browser.is_element_present_by_css("ul.item_list li.slide", wait_time=1)

True

In [8]:
#get the html 
html = browser.html
#parse the html context
soup = BeautifulSoup(html, 'html.parser')
#get one slide_element using ul class item_list and li class slide
slide_element = soup.select_one('ul.item_list li.slide')
slide_element

<li class="slide"><div class="image_and_description_container"><a href="/news/8631/nasas-curiosity-mars-rover-takes-a-new-selfie-before-record-climb/" target="_self"><div class="rollover_description"><div class="rollover_description_inner">Along with capturing an image before its steepest ascent ever, the robotic explorer filmed its "selfie stick," or robotic arm, in action.</div><div class="overlay_arrow"><img alt="More" src="/assets/overlay-arrow.png"/></div></div><div class="list_image"><img alt="This selfie was taken by NASA's Curiosity Mars rover on Feb. 26, 2020. The crumbling rock layer at the top of the image is the Greenheugh Pediment, which Curiosity climbed soon after taking the image." src="/system/news_items/list_view_images/8631_PIA23624_hutton-selfie-320x240.jpg"/></div><div class="bottom_gradient"><div><h3>NASA's Curiosity Mars Rover Takes a New Selfie Before Record Climb</h3></div></div></a><div class="list_text"><div class="list_date">March 20, 2020</div><div class="content_title"><a href="/news/8631/nasas-curiosity-mars-rover-takes-a-new-selfie-before-record-climb/" target="_self">NASA's Curiosity Mars Rover Takes a New Selfie Before Record Climb</a></div><div class="article_teaser_body">Along with capturing an image before its steepest ascent ever, the robotic explorer filmed its "selfie stick," or robotic arm, in action.</div></div></div></li>

In [11]:
#get the title of the article using dev with class content_title
news_title = slide_element.find("div", class_="content_title").get_text()
news_title

"NASA's Curiosity Mars Rover Takes a New Selfie Before Record Climb"

In [13]:
#get the news article's summary
news_summary = slide_element.find("div", class_="article_teaser_body").get_text()
news_summary

'Along with capturing an image before its steepest ascent ever, the robotic explorer filmed its "selfie stick," or robotic arm, in action.'

### Featured Images

In [15]:
#vist url
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [16]:
#get by id for full_image
full_image_elem = browser.find_by_id('full_image')
full_image_elem.click()

In [18]:
#find the more info button and click that
browser.is_element_present_by_text('more_info', wait_time=1)
more_info_elem = browser.find_link_by_partial_text('more info')
more_info_elem.click()

In [19]:
#parse the resulting html page
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [20]:
#find relative image url
img_url_rel = soup.select_one("figure.lede a img").get("src")
img_url_rel

'/spaceimages/images/largesize/PIA14254_hires.jpg'

In [21]:
#create url using base and extracted image url
img_url = f'https://www.jpl.nasa.gov{img_url_rel}'
img_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA14254_hires.jpg'

In [25]:
df = pd.read_html('http://space-facts.com/mars/')[0]
df.columns = ['description', 'value']
df.set_index('description', inplace=True)
df

                                              value
description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [27]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>value</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [28]:
browser.quit()